@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container border">
    <div class="row mx-auto p-3">
        <div class="col-4">
            <img src="https://image.coolblue.be/max/500x500/products/1871696" style="width:300px;" />
        </div>
        <div class="col-8">
            <div class="row" style="color:blueviolet;font-weight:bolder">Probook 450 G9 i7-16GB-1TB Azerty</div>
            <div class="row" style="color:slategrey">15.6 inches | Intel Core i7 | 16 GB RAM</div>
            <div class="row" style="color:black;font-weight:bolder">1.299,-</div>
            <div class="row" style="color:forestgreen">
                Laptops available 2
            </div>
            <div class="row">
                <a class="btn btn-success text-white mt-5" style="width:100px"> <i class="bi bi-cart-plus"></i> Shop</a>
            </div>
        </div>
    </div>
</div>