<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PXLPRO2023Shoppers24</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PXLPRO2023Shoppers24.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">

</head>
<body>
    <div class="d-flex justify-content-center"></div>
    <header>
        <!-- Bootstrap code-->
        <!-- -->
        <div class="d-flex align-items-start .bg-light text-dark p-2">
            <div class="navbar-brand flex-grow-1 ml-2">
                <a class="btn btn-block text-dark border-white" asp-controller="Home" asp-action="Index"> <img src="~/Media_Shop-transformed.png" style="width:130px" /></a>
                <a class="btn btn-block text-dark border-white" asp-controller="Laptop" asp-action="Index">Laptops</a>
            </div>
           
            <ul class="navbar-nav" style="width:37px;margin-top:6px">
            </ul>
            <span>
                <partial name="_LoginPartial" />
            </span>
          
        </div>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - PXLPRO2023Shoppers24
        </div>
    </footer>
@*    <script src="~/lib/jquery/dist/jquery.min.js"></script>*@
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
